{{ define "main" }}
  <article>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <h1><a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a></h1>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
          -
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          -
            {{- with .Params.tags }}
            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
            {{- range . -}}
              {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
              {{- end }}
            {{- end }}
            {{- end }}

          </span>
          {{ .Content }}
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
